body{
    
   
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: xx-large;
    /* background-color: black; */
    margin-left: 50px;
    margin-top: 20px;
    color: white;
    background-size: cover; 
    background-image: url(black-1072366_1920.jpg);

}

#header{
    margin: auto;
    display: flex;
    justify-content: center;
    
}
#input{
    text-align: center;
    height: 30px;
    width: 300px;
    font-size:large;
  

}

#btn{
    text-align: center;
   margin-left: 10px;
   height: 35px;
    width: 100px;
    font-size:large;
   
}
#title{
    text-align: center;
    
   
    
}
#antonyms{
    font-size: medium;
    text-align:left
}

#definition{
    font-size: medium;
    text-align:left
}

#synonymList{
    font-size: medium;
    text-align:left 
}

#antonymsList{
    font-size: medium;
    text-align:left 
}

.text{
    font-size: medium;
}

#phonetics{
    color: yellowgreen;
    margin-top: 40px;
    
}

span{
    padding: 10px;  
}

i{
    padding-right: 10px;
}
